*{
    margin: 0;
    Padding: 0;
  }

  body {
    background-color: black;
    color: white;
    font-family: 'Mukta', sans-serif;
  } 
  body a{
    padding:0;
    margin: 10px;
    display: flex;
    justify-content: center;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);
  }

  nav ul {
    display: flex;
    justify-content: center;
  }

  nav ul li {
    list-style: none;
    margin: 0 33px;
  }

  nav ul li a {
    text-decoration: none;
    color: white;
  }

  nav ul li a:hover {
    color: rgb(153, 153, 226);
    font-size: 1.02rem;
  }

  main hr {
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 60px 84px;
  }

  .left {
    font-size: 1.5rem;
  }

  .firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 130px 0;

  }

  .firstSection>div {
    width: 30%;
  }

  .leftSection {
    font-size: 3rem;
    margin: 30px 0;
  }


  .rightSection img {
    width: 80%;

  }

  .purple {
    color: rgb(170, 107, 228),
  }

  .tex-gray {
    color: gray;
  }

  #element {
    color: rgb(170, 107, 228);
  }

  .secondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
  }

  .secondSection h1 {
    font-size: 1.9rem;
  }

  .secondSection .box {
    background: white;
    width: 130vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
  }

  .secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 80px;
  }

  .image-top {
    width: 30px;
    position: relative;
    top: -32px;
    left: -9px;
  }

  .vertical-title {
    position: relative;
    top: 40px;
    width: 150px;

  }

  .vertical-desc {
    position: relative;
    top: 86px;
    color: gray;
    width: 90px;
    font-size: 9px;

  }

  .footer {
    /* background-color: purple;*/
    /* height: 234px;*/
  }

  .footer {
    display: flex;
    margin: 23px 140px;
    justify-content: space-evenly;
  }

  .footer ul {
    list-style: none;
  }

  .footer>div {
    width: 234px;
  }

  footer .footer-rights {
    text-align: center;
    color: gray;
    padding: 14px 0;
  }